body 
{
    margin: 0;
    padding: 0;
    background-color: aliceblue !important;
}
.app
{
    width: 50%;
    height: auto;
    margin: auto;
    padding: 25px;
    margin-top: 2%;
}
.app  > p 
{
    color: blue !important;
    font-size: 20px !important;
} 